# Variables de Entorno del Backend SIG-ARROZ (Plantilla de ejemplo)
# Base de Datos PostgreSQL
DB_HOST=tu-host-de-base-de-datos.neon.tech
DB_NAME=neondb
DB_PASSWORD=tu_password_segura
DB_PORT=5432
DB_USER=tu_usuario

# Configuración de Django
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.railway.app
SECRET_KEY=coloca_aqui_tu_django_secret_key_aleatoria
